header {
	font-style: bold;
}

.container {
  margin: 0 auto;  
  width: 840px;
	font-family: 'Open Sans', sans-serif;
}

h1 {
font-size: 2em;
margin: 0.67em 0;
display: block;
font-size: 2em;
font-weight: bold;
}

nav {
padding-top: 20px;
float: left;
width: 120px;
border-top: 1px solid grey;
}

.content {
float: right;
width: 669px;
padding-left: 40px;
border-left: 1px solid grey;
border-top: 1px solid grey;
}

footer {
clear: both;
padding: 15px 15px 15px 15px;
border-top: 1px solid grey;
}

